div#first { width: 100%; background-color: rgb(239, 239, 239); height: 90px; }
div#menu { width: 100%; background-color: rgb(17, 17, 17); }
.pp { width: 80%; margin: auto; }
.menuss ul li { padding: 18px 10px; position: relative; font-weight: bold; font-size: 16px; }
.menuss ul li a { color: white; }
ul.sub-menu { position: absolute; display: none; }
.menuss ul { display: flex; }
.menuss ul li:hover { background-color: rgb(234, 157, 6); }
.menuss ul li:hover .sub-menu { display: block; }
ul.sub-menu {position: absolute;flex-direction: column;background-color: white;top: 54px;left: 0px;width: 290px;border: 1px solid;display: none;z-index: 1000;}
ul.sub-menu li:hover { background-color: rgb(234, 157, 6); }
ul.sub-menu li a { color: black; }
ul.sub-menu li { border-bottom: 1px solid; }
.menuss ul li:nth-child(5) input { padding: 8px; margin-top: 8px; }
.sssssssss { padding: 0px 18px !important; }
.menuss ul li:nth-child(5) button { padding: 8px; font-weight: bold; background-color: white; }
.content-1 { width: 100%; display: flex; padding: 2em 0em; }
.content-1-sub { width: 33%; position: relative; }
.content-1-sub p:nth-child(1) { font-size: 23px; font-weight: bold; padding: 10px 0em; }
.content-1-sub p:nth-child(2) { color: darkgrey; padding: 0px 0px 19px; }
span.xem { position: absolute; background-color: rgb(204, 204, 204); width: 87%; padding: 8px; bottom: 0px; display: none; cursor: pointer; }
.content-1-sub:hover .xem { display: block; }
.content-2 button { width: 137px; border: 1px solid; background-color: white; padding: 10px 20px; }
.content-3 { width: 100%; display: flex; flex-wrap: wrap; }
.sub-product { width: 23%; text-align: center; padding: 1%; }
.sub-product img { width: 96%; padding: 2%; }
.content-2 button { width: 137px; border: 1px solid; background-color: white; padding: 10px 20px; }
.content-3 { width: 100%; display: flex; flex-wrap: wrap; }
.sub-product { width: 23%; text-align: center; padding: 1%; }
.sub-product img { width: 96%; padding: 2%; }
.sub-product p:nth-child(1) { font-weight: bold; }
.sub-product p a:nth-child(1) { font-weight: bold; }
.sub-product p { padding-bottom: 10px; }
.content-2 { width: 100%; padding: 1em 0em; }
.content-2 button { width: 137px; border: 1px solid; background-color: white; padding: 10px 20px; }
.content-3 { width: 100%; display: flex; flex-wrap: wrap; }
.sub-product { width: 23%; text-align: center; padding: 1%; }
.sub-product img { width: 96%; padding: 2%; }
.sub-product p:nth-child(1) { font-weight: bold; }
.sub-product p a:nth-child(1) { font-weight: bold; }
.sub-product p { padding-bottom: 10px; }
.content-4 { width: 100%; display: flex; }
.content-4-sub { width: 33%; }
.content-4-sub p { padding: 8px 0px; }
.content-4-sub p a:nth-child(1) { font-weight: bold; font-size: 18px; }
.content-4-sub { width: 33%; padding: 10px; }
.content-4-sub p { padding: 8px 0px; }
.content-4-sub p a:nth-child(1) { font-weight: bold; font-size: 18px; }
.content-4-sub img { width: 100%; border-radius: 14px; }
.content-5 ul { width: 100%; display: flex; }
.content-5 ul li img { width: 79%; }
.content-5 { width: 100%; padding: 2em 0em; }
.content-5 ul { width: 100%; display: flex; }
.content-5 ul li img { width: 79%; }
.end { padding: 2% 0%; width: 100%; background-color: black; color: white; }
.first-widget { width: 80%; display: flex; margin: auto; }
.textwidget { width: 33%; }
.textwidget ul li a { color: white; }
h3.widget-title { color: white; padding: 13px 12px; font-size: 21px; }
.textwidget ul li { font-weight: bold; }
.textwidget p { color: white; }
.textwidget:nth-child(3) { padding-left: 2em; }
.content-6 { width: 100%; padding: 2em 0em; }
.content-6 p { font-weight: bold; }
